/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */



#map {
    height: 50vh;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 45%;
}

.Introduction p{
    font-size : 25px;
    border: 4px solid #52C7FA;
    border-radius: 25px;
    padding: 10px;
    background-color: white;

}

.card{
    border: 4px solid #52C7FA;
    border-radius: 25px;
    padding: 10px;
}

.btn-group button {
    background-color: #52C7FA;
    border: 2px solid black; 
    color: white;
    padding: 10px 24px; 
    cursor: pointer;
    float: left;
    font-size: 20px;
}
#map{
    border: 4px solid black;
}
body{
    background-color: #d3d3d3;
}


